@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

#cardImg{
    height: 250px !important;
}

#modalArrow{
    cursor: pointer;
}

#cost{
    width: 132px;
height: 100px;
}

#modalImg{
    position: relative;
}

#accuracy{
    position: absolute;
    top:7%;
    left: 50%;
    transform: translate(-7%,-50%);
}

#exampleModal{
    
}